@import "../scss/abstracts/colors.scss";
@import "../scss/abstracts/sizes.scss";
@import "../scss/abstracts/mixins.scss";
#home {
  @include page-container;
  grid-template-areas:
    "two one"
    "three four";

  #two,
  #one {
    // background: dodgerblue !important;
  }
  #three,
  #four {
    // background: slateblue !important;
  }
  #one {
    button {
      width: fit-content;
    }
  }
}
#home > div {
  width: 100%;
  height: 100%;
  padding: 50px 40px;
}

@media only screen and (max-width: 1350px) {
  #home {
    grid-template-areas:
      "two"
      "one"
      "four"
      "three";
    #two {
      padding: 0px;
    }
    #four {
      padding: 0px;
    }
  }
  #home-banner {
    position: relative !important;
    top: 0;
    font-size: 1.3rem;
    color: var(--banner-dark);
    background-color: var(--secondary-color);
    img {
      height: calc(var(--nav-bar-height) * 0.75);
      margin-right: 10px;
    }
  }
}
