@import "../scss/abstracts/colors.scss";
@import "../scss/abstracts/sizes.scss";
@import "../scss/abstracts/mixins.scss";
#home {
  @include page-container;
  grid-template-areas:
    "one two"
    "four three";
  gap: 30px;
}
#home > div {
  width: 100%;
  height: 100%;
}
.callus {
  display: flex;
  flex-direction: row !important;
  margin-top: 25px;
  strong {
    cursor: pointer;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 1350px) {
  #home {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    .callus {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 25px;
    }
    #one {
      justify-content: center !important;
      align-items: center !important;
    }
    #two,
    #four {
      display: flex;
      justify-content: center;
    }
  }
}
