@import "../scss/abstracts/mixins.scss";
@import "../scss/abstracts/sizes.scss";
@import "../scss/abstracts/colors.scss";
#services {
  @include page-container;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center !important;
  gap: 30px;
  flex-direction: row;
  .generalProcess {
    width: 100% !important;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    article {
      margin-top: 0px;
    }
  }
}

@media only screen and (max-width: 1350px) {
  #services {
    display: grid;
    grid-template-columns: 1fr;
    .text-container {
      text-align: center;
      width: 100% !important;
      div {
        text-align: left !important;
      }
    }
  }
}
