$lineColor: #1850c9;
$accentColor: gray;

$mobile-font-color: rgba(0, 0, 0, 0.5);
$desktop-font-color: rgba(0, 0, 0, 0.5);

$shadow-bottom: 5px 5px 20px rgba(0, 0, 0, 0.1);

$primary-color: white;
$secondary-color: white;

$banner-color: dodgerblue;
$heading-color: rgba(0, 0, 0, 0.8);
$text-color: rgba(0, 0, 0, 0.8);

$navbar-color: white;
$icon-color: #474747bb;

$shadow: 0px 1px 9px rgba(0, 0, 0, 0.233);
$shadow-top: 0px -20px 20px rgba(0, 0, 0, 0.1);
