@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 7px;
  }
  100% {
    margin-bottom: 0px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    left: 0;
  }
  to {
    left: -30vw;
  }
}
@keyframes slideRight {
  from {
    left: -30vw;
  }
  to {
    left: 0;
  }
}
@keyframes subslideLeft {
  from {
    left: 0;
  }
  to {
    left: -60vw;
  }
}
@keyframes subslideRight {
  from {
    left: -60vw;
  }
  to {
    left: 0;
  }
}

@keyframes slideDown {
  from {
    top: var(--sub-closed-height);
  }
  to {
    top: var(--sub-opened-height);
  }
}
@keyframes slideUp {
  from {
    top: var(--sub-opened-height);
  }
  to {
    top: var(--sub-closed-height);
  }
}
.jump {
  animation: jump 0.2s ease;
}
.menuJump {
  animation: jump 0.5s ease;
}
@media only screen and (max-width: 1350px) {
  .fade {
    animation: fade 0.5s ease;
  }
  .subOpen {
    animation: subslideLeft 0.4s backwards 1;
    left: -60vw;
  }
  .subClose {
    animation: subslideRight 0.4s backwards;
  }
  .slideRight {
    animation: slideRight 0.3s backwards 1;
  }
  .slideLeft {
    animation: slideLeft 0.3s backwards 1;
    left: -30vw;
  }
  .slideUp {
    animation: slideUp 0.5s backwards;
    height: 30vh;
  }
  .slideDown {
    animation: slideDown 0.5s backwards;
    height: 0;
  }

  .fadeOut {
    animation: fadeOut 0.4s ease-out;
  }
  .fadeIn {
    animation: fadeIn 0.4s ease-in;
  }
}

@media only screen and (min-width: 1350px) {
  .subOpen {
    animation: slideDown 0.5s ease;
    top: var(--sub-opened-height);
  }
  .subClose {
    animation: slideUp 0.5s ease;
    top: var(--sub-closed-height);
  }
}
