.home-container {
  display: grid;
  padding: 5vw;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "ah ah"
    "bt av";
}

.ah {
  grid-area: ah;
  width: 100%;
  margin-bottom: 8vh;
}
.av {
  grid-area: av;
  height: 70vh !important;
}
.bt {
  grid-area: bt;
}
.text-container {
  text-align: center;
  font-size: 25px;
  padding: 30px;
}
.text-container p {
  text-align: justify;
}

.image {
  padding: 5px;
  border-radius: 20px;
  border: 2px solid black;
}

h2 {
  color: var(--secondary-color);
}
p {
  color: var(--secondary-color);
}

@media only screen and (max-width: 1350px) {
/* Home */
  .home-container {
    grid-template-columns: 1fr;
    grid-template-areas: "ah" "bt" "av";
  }
  .text-container {
    font-size: 18px;
  }
  .av {
    max-height: 50vh;
  }
  .ah {
    width: 100vw;
  }
}