.home-container {
  display: grid;
  padding: 5vh 20vw 0 20vw;
  justify-items: center;
  align-items: center;
}

.text-container {
  text-align: center;
  font-size: 25px;
  padding: 30px;
}
.text-container h1 {
  color: var(--heading-color);
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}
.text-container p {
  font-size: 0.8em;
  color: var(--text-color);
  text-align: left;
  line-height: 1.8em;
}

.image {
  padding: 5px;
  border-radius: 20px;
  border: 2px solid black;
}

.home-splash {
  width: 100%;
  border-radius: 20px;
}

@media only screen and (max-width: 1350px) {
  /* Home */
  .home-container {
    padding: 2vh 8vmin 0 8vmin;
  }
  .text-container p {
    font-size: 18px;
  }
}
