.home-container {
  display: grid;
  padding: 5vw;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.text-container {
  text-align: center;
  font-size: 25px;
  padding: 30px;
}
.text-container h1 {
  color: var(--heading-color);
  font-family: "Montserrat";
  margin-bottom: 15px;
  text-align: center;
}
.text-container p {
  color: var(--text-color);
  text-align: justify;
}

.image {
  padding: 5px;
  border-radius: 20px;
  border: 2px solid black;
}

@media only screen and (max-width: 1350px) {
  /* Home */
  .home-container {
    grid-template-columns: 1fr;
  }
  .text-container p {
    font-size: 18px;
  }
}
