#home {
  margin-top: 30px;
  grid-template-areas:
    "two one"
    "three four";
}
#about {
  grid-template-areas: "one" "two";
}
#about #one {
  position: relative;
}
#about #one img {
  position: relative;
  right: 10vw;
  height: 20vh;
  width: 100vw;
  object-fit: cover;
}
#gallery {
  grid-template-columns: 1fr 1fr 1fr;
}
#home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: var(--nav-bar-height);
  height: var(--nav-bar-height);
  width: 100vw;
  text-align: center;
  color: var(--banner-light);
  font-weight: 550;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  box-shadow: var(--shadow-bottom);
}
#home #two {
  padding: 50px;
}
#home #four {
  padding: 50px;
}
#gallery div {
  display: flex;
  justify-content: center;
  width: 80%;
}
#gallery img {
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.041);
  width: 100%;
  box-shadow: var(--shadow);
}

@media only screen and (min-width: 650px) and (max-width: 1350px) {
  #gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1350px) {
  #home {
    grid-template-areas:
      "two"
      "one"
      "four"
      "three";
  }
  #home-banner {
    position: relative !important;
    top: 0;
    font-size: 1.3rem;
    color: var(--banner-dark);
    background-color: var(--secondary-color);
  }
  #home-banner img {
    height: calc(var(--nav-bar-height) * 0.75);
    margin-right: 10px;
  }
  #home #two {
    padding: 0px;
  }
  #home #four {
    padding: 0px;
  }
  #gallery {
    grid-template-columns: 1fr;
  }
  #gallery img {
    background-color: white;
    width: 100% !important;
  }
}
