.nav-container {
  position: fixed !important;
  width: 100%;
  z-index: 3;
  justify-content: space-around;
  align-content: center;
  box-shadow: black;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow-bottom);
  height: 3rem;
}
.nav-collapse {
  justify-content: center;
}
.nav-focus {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2 !important;
  background-color: rgba(0, 0, 0, 0.336);
}
.navbar-toggler {
  border: 0px !important;
}
.nav-logo img {
  height: 2.2rem;
  padding: 1px;
  background-color: white;
  border-radius: 50%;
}
.nav-item {
  display: flex;
  justify-content: center;
}
.nav-menu a {
  border-radius: 5px;
}
.nav-menu li {
  padding: 10px;
}
.nav-menu p {
  margin: 0 10px 0 10px;
}
.icon {
  color: var(--primary-color) !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
}
.icon:hover {
  color: rgb(255, 255, 255, 0.5) !important;
}
.icon:active {
  color: rgb(255, 255, 255, 0.5) !important;
  height: 2.7rem !important;
  width: 2.7rem !important;
}
.dropdown {
  display: flex;
  align-items: center;
}
.dropdown [aria-expanded="true"] {
  background-color: teal;
}
.dropdown-menu {
  background-color: black !important;
}
.dropdown-toggle {
  margin-left: 0.4em;
}
.popup-box {
  border-radius: 10px 10px 0 0 !important;
  margin-bottom: 1px !important;
}
#phonePopup {
  color: var(--nav-font);
  position: fixed !important;
  bottom: var(--bottom-bar-height) !important;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow-top);
  width: 100vw;
  text-align: center;
}
#phonePopup p {
  font-size: var(--nav-heading);
  color: var(--nav-font);
}
#phone-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
#phone-box > .btn {
  width: 30%;
  font-size: var(--nav-font);
}
#submissionPopup {
  box-shadow: var(--shadow);
}
#submission-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 35px 35px 35px;
  column-gap: 5px;
  grid-template-areas:
    "first last"
    "number email"
    "rooms hallways";

  font-size: var(--nav-font) !important;
  text-align: left;
}

#first {
  grid-area: first;
}
#last {
  grid-area: last;
}
#number {
  grid-area: number;
}
#email {
  grid-area: email;
}
#rooms {
  grid-area: rooms;
}
#hallways {
  grid-area: hallways;
}
#submission-box label {
  color: var(--nav-font);
  font-weight: 500;
}
.form-submit-btn {
  width: 30%;
  font-size: var(--nav-font);
}
.form-error {
  padding: 6px;
  border-radius: 5px;
}
.navbar-toggler {
  display: none;
}
@media only screen and (max-width: 1350px) {
  .nav-container {
    position: fixed !important;
    bottom: 0 !important;
    height: var(--bottom-bar-height);
    width: 100vw;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.4);
  }
  /* Trying to fix navbar */
  .navbar-collapse.collapse {
    display: none !important;
  }
  .nav-collapse.show {
    display: block !important;
  }
  .nav-collapse {
    position: fixed !important;
    bottom: var(--bottom-bar-height) !important;
    background-color: var(--secondary-color);
    box-shadow: var(--shadow-top);
    width: 100vw;
    text-align: center;
  }
  .navbar-toggler {
    display: block !important;
  }
  .navbar-expand-xl {
    flex-flow: row;
  }
  .nav-menu {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-menu a {
    width: 80%;
  }
  #submissionPopup {
    position: fixed !important;
    bottom: var(--bottom-bar-height) !important;
    background-color: var(--secondary-color);
    width: 100vw;
    text-align: center;
    margin-bottom: 2px;
    border-radius: 10px 10px 0 0 !important;
  }
  #submissionPopup input {
    font-size: 0.9rem;
  }
  #submissionPopup label {
    display: none !important;
  }
  #submission-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "first last"
      "email email"
      "number number"
      "rooms hallways";
    padding: 0px 20px 0px 20px;
    column-gap: 5px;
  }
}

/*Used for two columns in the awkward mobile transition phase*/
@media only screen and (min-width: 650px) and (max-width: 1350px) {
  .nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "first last"
      "email number"
      "rooms hallways" !important;
    padding: 25px;
    column-gap: 5px;
  }
}

/*Scales down the padding to fit text on smaller screens*/
@media only screen and (max-width: 450px) {
  #submission-box {
    padding: 20px;
  }
}

@media only screen and (min-width: 1350px) {
  .form-group label {
    color: var(--nav-font);
  }
  #submissionPopup {
    position: fixed !important;
    top: 25vh;
    margin: auto;
    background-color: var(--secondary-color);
    width: 35vw;
    text-align: center;
  }
  #submission-box ::placeholder {
    visibility: hidden !important;
  }
}
