.nav-container {
  position: fixed !important;
  width: 100%;
  z-index: 3;
  justify-content: space-around;
  align-content: center;
  box-shadow: black;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 2px var(--heading-color);
  height: 6.5vh;
}
.nav-collapse {
  justify-content: center;
}
.nav-focus {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.2;
  z-index: 2 !important;
  background-color: var(--secondary-color);
}
.navbar-toggler {
  border: 0px !important;
}
.nav-logo img {
  height: 45px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
}
.nav-item {
  display: flex;
  justify-content: center;
}
.nav-menu a {
  border-radius: 5px;
}
.nav-menu li {
  padding: 10px;
}
.nav-menu strong {
  margin: 0 10px 0 10px;
}
#phonePopup {
  border-radius: 10px 10px;
  color: var(--primary-color);
  position: fixed !important;
  bottom: var(--bottom-bar-height) !important;
  background-color: var(--secondary-color);
  width: 100vw;
  text-align: center;
  margin-bottom: 2px;
}
#phonePopup strong {
  font-size: var(--nav-heading);
}
#phone-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
#phone-box > .btn {
  width: 30vmin;
  font-size: var(--nav-text);
}
#submissionPopup {
  border-radius: 10px 10px;
}
#submission-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 35px 35px 35px;
  column-gap: 5px;
  grid-template-areas:
    "first last"
    "number email"
    "rooms hallways"
    "message message";

  font-size: var(--nav-text) !important;
  text-align: left;
}

#first {
  grid-area: first;
}
#last {
  grid-area: last;
}
#number {
  grid-area: number;
}
#email {
  grid-area: email;
}
#rooms {
  grid-area: rooms;
}
#hallways {
  grid-area: hallways;
}
#message {
  grid-area: message;
}
.form-submit-btn {
  margin-top: -15px;
  width: 30%;
}
.form-error {
  padding: 6px;
  border-radius: 5px;
}
.navbar-toggler {
  display: none;
}
@media only screen and (max-width: 1350px) {
  .popup-box {
    border-radius: 10px 10px;
    margin-bottom: 2px;
  }
  .nav-container {
    position: fixed !important;
    bottom: 0 !important;
    height: var(--bottom-bar-height);
    width: 100vw;
    border-radius: 10px 10px 0 0;
  }
  /* Trying to fix navbar */
  .navbar-collapse.collapse {
    display: none !important;
  }
  .nav-collapse.show {
    display: block !important;
  }
  .nav-collapse {
    position: fixed !important;
    bottom: var(--bottom-bar-height) !important;
    background-color: var(--secondary-color);
    width: 100vw;
    text-align: center;
  }
  .navbar-toggler {
    display: block !important;
  }
  .navbar-expand-xl {
    flex-flow: row;
  }
  .nav-menu {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-menu strong {
    font-size: var(--nav-heading);
  }
  .nav-menu a {
    width: 80%;
  }
  #submissionPopup {
    position: fixed !important;
    bottom: var(--bottom-bar-height) !important;
    background-color: var(--secondary-color);
    width: 100vw;
    text-align: center;
    margin-bottom: 2px;
  }
  #submissionPopup h2 {
    margin: 3vh auto -2vh auto;
    color: var(--muted-heading);
    font-size: var(--nav-text);
  }
  #submissionPopup label {
    display: none !important;
  }
}

/*Used for two columns in the awkward mobile transition phase*/
@media only screen and (min-width: 650px) and (max-width: 1350px) {
  .nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    column-gap: 5px;
    font-size: var(--nav-heading) !important;
  }
}

/*Scales down the padding to fit text on smaller screens*/
@media only screen and (max-width: 450px) {
  #submission-box {
    padding: 20px;
  }
}

@media only screen and (min-width: 1350px) {
  .form-group label {
    color: white;
  }
  #submissionPopup {
    position: fixed !important;
    top: 25vh;
    margin: auto;
    background-color: var(--secondary-color);
    width: 35vw;
    text-align: center;
  }
  #submission-box ::placeholder {
    visibility: hidden !important;
  }
}
