@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: white;
  --secondary-color: rgb(85, 85, 85);
  --bottom-bar-height: 8vmax;
  --menu-font-color: #ffffff80;
  --heading-color: rgb(46, 46, 46);
  --text-color: black;
  --nav-text: 18px;
  --nav-heading: 25px;
}

body {
  margin: 0;
  padding: 0px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.main-area {
  padding: 62px 0px 30px 0px !important;
}

.clickable {
  cursor: pointer;
}
.center {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
}
.line-break {
  margin-top: 25px;
}
.hide-mobile {
  display: flex !important;
}
.show-mobile {
  display: none !important;
}
.close-btn {
  position: absolute;
  padding: 10px;
  right: 0;
}
.hidden {
  display: none !important;
}

@media only screen and (max-width: 1350px) {
  .main-area {
    padding: 0px 0px 70px 0px !important;
    align-items: center;
    z-index: 1;
  }
  .hide-mobile {
    display: none !important;
  }
  .show-mobile {
    display: block !important;
  }
}
