@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap");
@import "./assets/scss/abstracts/colors.scss";
@import "./assets/scss/abstracts/sizes.scss";

body {
  margin: 0;
  padding: 0px 0 0 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
.main-area {
  padding: 10px 0px 0px 0px !important;
}
.clickable {
  cursor: pointer;
}
.click-to-hire {
  padding: 10px 20px 10px 20px !important;
  width: fit-content !important;
}
a:hover {
  text-decoration: none !important;
}

.button-container {
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  height: min-content;
  max-width: 100%;
}
.btn-primary {
  background: $accentColor !important;
  color: white !important;
  border: none !important;
}
.show-mobile {
  display: none !important;
}
.close-btn {
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0px;
}
svg {
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.shown {
  display: block !important;
}
.btn {
  width: 26%;
  font-size: $mobile-nav-size;
  border-radius: 35px !important;
}
.line-break {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1350px) {
  .scrolltop {
    color: $lineColor;
    position: fixed;
    right: 3vw;
    bottom: calc(var(--nav-bar-height)+70px);
    font-size: 30px;
  }
  .main-area {
    padding: 0px 0px 70px 0px !important;
    align-items: center;
    z-index: 1;
  }
  .main-footer {
    width: 100%;
    display: flex;
    position: relative;
    top: -70px;
    justify-content: space-evenly;
    gap: 10px;
    height: min-content;
    position: inline-block;
    padding: 10px;
    a {
      padding: 10px !important;
      color: white !important;
    }
  }
  .click-to-hire {
    margin: 60px 0px;
  }
  .hide-mobile {
    display: none !important;
  }
  .show-mobile {
    display: block !important;
  }
  article {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1350px) {
  .scrolltop {
    color: $lineColor;
    position: fixed;
    right: 49vw;
    bottom: 10px;
    font-size: 45px;
  }
  article {
    font-size: 1.1rem;
  }
  .click-to-hire {
    margin: 15px 0px;
  }
  .main-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: min-content;
    position: fixed;
    bottom: 0;
    padding: 10px;
    a {
      padding: 10px !important;
      color: white !important;
    }
  }
}
